.main {
    flex-grow: 1;
}

.createButtonRow {
    margin-top: var(--gap);
    justify-content: flex-end;
}   

.settingsrow {
    cursor: pointer;
}

.settingsrow:hover td {
    background-color: grey !important
}

.text {
    white-space: pre;
}

@media (max-width: 600px) {
    .createButton {
        width: 100%;
    }    
}

@media (min-width: 600px) {
    .language {
        width: 6rem;
    }

    .updated {
        width: 6rem;
    }

    .name {
        width: 8rem;
    }

    .createButton {
        max-width: 300px;
    }
}
