.title {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.title h1 {
    flex-grow: 1;
}

.title>button {
    width: initial;
}

@media (min-width: 600px) {
    .title>* {
        min-width: 9rem;
    }
}

@media (max-width: 600px) {
    .title {
        flex-wrap: wrap;
    }

    .title h1 {
        width: 100%;
    }

    .title > * {
        flex-grow: 1;
    }
}

    @media print {
        .title h1 {
            width: 100%;
            margin: 0;
            margin-bottom: var(--gap);
        }

        .title :not(h1) {
            display: none;
        }
    }