.title {
    display: flex;
    align-items: center;
    gap: var(--gap-small);
}

.title h1 {
    flex-grow: 1;
}

.title > button {
    width: initial;
}


@media (min-width: 600px) {
    .title > *:not(.titleContent) {
        min-width: 5rem;
    }
}

@media (max-width: 600px) {
    .title {
        flex-wrap: wrap;
    }

    .title h1 {
        width: 100%;
    }
    
    .title > *:not(.titleContent) {
        flex-grow: 1;
    }
}
