.container {
    display: flex;
    margin: var(--gap);
    width: 20rem;
    max-width: calc(var(--mobile-breakpoint) - 4 * var(--gap));
    border: 1px solid var(--default-border-color);
    border-radius: var(--border-radius);
    padding: var(--gap);
    flex-direction: column;
    flex-grow: 1;
    color: var(--default-text-color);
    text-decoration: none;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    .container {
        width: calc(100% - 2* var(--gap));
        margin: var(--gap) 0;
    }
}

@media print {
    .container {
        max-width: 100%;
        width: calc(49% - 4* var(--gap-small));
        padding: var(--gap-small);
        margin: var(--gap-small);
        page-break-inside: avoid;
    }
}
