html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  text-align: center;
  margin-top: var(--gap);
}

@media (min-width: 600px) {
  main{
    margin: 0 var(--gap)
  }
}

@media (max-width: 600px) {
  main{
    margin: 0 var(--gap-small)
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

:root {
  --gap: 1rem;
  --gap-small: 0.25rem;
  --border-radius: 6px;
  --column-width-small: 8rem;

  --default-background-color: rgb(255, 255, 255,1);
  --default-hover-color: rgb(240, 240, 240,1);
  --default-border-color: rgba(200,200,200,1);
  --default-text-color: rgba(0, 0, 0, 1);

  --primary-background-color: rgba(0, 0, 220, 1);
  --primary-transparent-color: rgba(0, 0, 220, 0.1);
  --primary-hover-color: rgba(0, 0, 255, 1);
  --primary-border-color: rgba(0,0,150,1);
  --primary-text-color: rgba(255, 255, 255, 1);

  --danger-background-color:rgba(220,0,0,1);
  --danger-transparent-color: rgba(220,0,0,0.1);
  --danger-hover-color: rgba(255,0,0,1);
  --danger-border-color: rgba(150,0,0,1);
  --danger-text-color: rgba(255, 255, 255, 1);

  --success-background-color:rgba(70,220,70,1);
  --success-transparent-color: rgba(70,220,70,0.1);
  --success-hover-color: rgb(65, 200, 65,1 );
  --success-border-color: rgba(30,150,30,1);
  --success-text-color: rgba(255, 255, 255, 1);

  --disabled-background-color: rgba(100, 100, 100, 1);
  --disabled-text-color: rgba(255, 255, 255, 1);
  --disabled-border-color: rgba(150, 150, 150, 1);
  --disabled-transparent-color: rgba(100, 100, 100, 0.1);

  --input-height: 2.5rem;
  --header-height: 2rem;
  --header-text-size: 1.5rem;
  --sidebar-width: 400px;
}