:root{
    --header-height: 2rem;
    --header-text-size: 1.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    align-items: center;
    height: calc(var(--header-height) + var(--gap) + var(--gap));
    z-index: 200;
}

.mobileMenuIcon {
    padding-left: var(--gap);
    padding-right: 0;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
    height: var(--header-height);
    width: var(--header-height);
}

.spacer {
    flex-grow: 1;
}

.applicationName {
    font-size: var(--header-text-size);
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.link {
    display: flex;
    align-items: center;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    height: calc(var(--header-height) + var(--gap) + var(--gap));
    padding: 0 var(--gap);
    box-sizing: border-box;
    text-decoration: none;
}

.link:hover {
    background-color: var(--primary-hover-color);
}

.activeLink span {
    border-bottom: 0.2rem solid var(--primary-text-color);
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
}

@media print {
    .container {
        display: none !important;
    }
}

@media (min-width: 600px) {
    .mobileMenuIcon {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--primary-background-color);
    }

    .link {
        width: 100%;
    }

    .mobileMenuHidden {
        display: none;
    }
}