@media (min-width: 600px) {
    .sidebarContent {
        width: 0;
        flex-grow: 1;
        min-height: 100%;
    }

    .sidebarContainer {
        display: flex;
        flex-grow: 1;
    }
}
