.container {
    display: flex;
    height: var(--input-height);
}

.input{
    width: 1.2rem;
}

.input:disabled {
    background-color: var(--disabled-transparent-color);
    color: var(--default-text-color);
    cursor: not-allowed;
}

.label {
    color: rgba(0, 0, 0, 0.6);
    align-content: center;
    padding-left: var(--gap-small);
}