.form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.form>* {
    margin: var(--gap-small) 0;
}

.textarea{
    flex-grow: 1;
}

.error {
    color: var(--danger-background-color);
}

