.collapse {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
    }

    .collapse > *:first-child {
      margin-top: 1rem;
    }

    .collapse > *:last-child {
      margin-bottom: 1rem;
    }

    .row {
      display: flex;
      flex-direction: row;
    }

    .row * {
      display: inline-block;
      margin-bottom: 0.5rem;
      width: 200px;
      flex-grow: 1;
    }

    .textarea {
      margin-bottom: 0.5rem;
      width: 100%;
      height: 10rem;
    }