.createButtonRow {
    margin-top: var(--gap);
    justify-content: flex-end;
}   

@media (max-width: 600px) {
    .createButton {
        width: 100%;
    }    
}

@media (min-width: 600px) {
    .createButton {
        max-width: 300px;
    }
}

.form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.form>* {
    margin: var(--gap-small) 0;
}

.error {
    color: var(--danger-background-color);
}

