.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--gap-small);
}

.chat {
  display: flex;
  width: 100%;
  gap: var(--gap-small);
}

.chat-input {
  flex-grow: 1;
}

.textarea {
  flex-grow: 1;
}

.buttons {
  margin-top: 0;
}