.languageColumn {
   width: var(--column-width-small);
}

.actionsColumn {
   width: var(--column-width-small);
} 

.actionButton {
   margin-bottom: var(--gap-small);
}

.input {
   margin-bottom: var(--gap-small);
}

.textarea {
   height: 7rem;
}

.sectionSeparator {
   height: var(--gap);
}