.emptyRow>td {
  text-align: center;
}

.sortingButton{
    background-color: var(--primary-background-color);
    color: var(--default-background-color);
    border: none;
    padding: 0;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-small);
}

.dateFilters {
  margin-top: var(--gap-small);
  display: flex;
  gap: var(--gap-small);
  flex-wrap: wrap;
}

.dateFilters >div{
  flex-grow: 1;
  width: 10px;
  min-width: 6rem;
}

.filter {
  margin-top: var(--gap-small);
}

.rowWithClick:hover td {
    background-color: grey !important
}

@media (min-width: 600px) {
  table.dataTable {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-border-color);
    width: 100%;
    table-layout: fixed;

    th {
      background-color: var(--primary-background-color);
      color: var(--default-background-color);
      font-weight: bold;
      padding: var(--gap-small) var(--gap-small);
      vertical-align: top;
      text-align: center;
    }

    th:first-child{
    /* To make backgound of first header round, we need to set border-radius */
    border-top-left-radius: var(--border-radius);
    }

    th:last-child{
      border-top-right-radius: var(--border-radius);
    }

    th:not(:last-child),
    td:not(:last-child) {
    /* Apply a border to the right of all but the last column */
    border-right: 1px solid var(--primary-border-color);
    }

    tr:not(:last-child)>th,
    tr:not(:last-child)>td,
    thead:not(:last-child),
    tbody:not(:last-child),
    tfoot:not(:last-child) {
    /* Apply a border to the bottom of all but the last row */
    border-bottom: 1px solid var(--primary-border-color);
    }

    td {
      padding: var(--gap-small) var(--gap-small);
      vertical-align: top;
    }

    tr:not(.emptyRow) td {
      text-align: left;
    }
        
    tr:nth-child(even) td {
      background-color: #f2f2f2;
    }

    tr:last-child td:first-child{
      border-bottom-left-radius: var(--border-radius);
    }

    tr:last-child td:last-child{
      border-bottom-right-radius: var(--border-radius);
    }

  }
}


@media (max-width: 600px) {
  table.dataTable{
    display: block; 
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-border-color);
    width: 100%;
    --header-width: 8rem;

    tbody, td, tr:not(.emptyRow) { 
      display: block; 
    }

    thead, th { 
      display: none;
    }
  
    td {
      padding: var(--gap-small) var(--gap-small);
      border-bottom: 1px solid var(--primary-border-color);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      word-break: break-all;
      min-height: var(--gap);
    }
    
    tr:not(.emptyRow) td {
      text-align: left;
    }

    td:first-child {
      padding-top: var(--gap);
    }

    td:last-child {
      padding-bottom: var(--gap);
    }

    tr:last-child td:last-child {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      border-bottom: none;
    }

    tr:nth-child(even) td {
      background-color: #f2f2f2;
    }

    tr:not(.emptyRow) td:not(:has(*[label])) { 
      position: relative;
      padding-left: var(--header-width); 
    }

    tr:not(.emptyRow) td:not(:has(*[label])):before { 
      position: absolute;
      left: var(--gap);
      width: calc(100% - var(--header-width) - 2 * var(--gap));
      white-space: nowrap;
      font-weight: bold;
      content: attr(headers);
    }
  }
} 