.dateFilters {
  margin-top: var(--gap-small);
  display: flex;
  gap: var(--gap-small);
  flex-wrap: wrap;
}

.dateFilters>div {
  flex-grow: 1;
  width: 10px;
  min-width: 6rem;
}

.filter {
  margin-top: var(--gap-small);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
