table.dataTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.75rem;
}

table.dataTable td {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid var(--default-border-color);
  font-size: 0.9rem;
  vertical-align: top;
}

.emptyRow td {
  text-align: center;
  padding: 2rem;
  color: #999;
}

.mobileView {
  display: none;
}

.emptyMobile {
  text-align: center;
  color: #999;
  padding: 3rem 1rem;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .container table.dataTable {
    display: none;
  }

  .container .mobileView {
    display: block;
  }
}

@media print {
  table.dataTable {
    font-size: small;
    break-inside: auto;
  }

  table.dataTable tbody tr {
    break-inside: avoid;
    break-after: auto;
  }

  table.dataTable tbody tr td {
    overflow: clip;
    break-inside: avoid;
    break-after: auto;
  }
}
