.rowWithClick {
  cursor: pointer;
}

.rowWithClick:hover td {
  background-color: var(--default-hover-color);
}

.activeRow td {
  background-color: rgba(0, 0, 220, 0.07);
}

.activeRow:hover td {
  background-color: rgba(0, 0, 220, 0.07);
}
