.link {
  display: inline-flex;
  text-decoration: none;
  color: #555;
}

.link:hover .inner {
  color: #333;
}

.inner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  color: #555;
}
